.pause{
      visibility: hidden;
}
.playing .pause{
      visibility: visible;

}
.playing .play{
       visibility: hidden;
}

.focus{
    -fx-background-color: #2D3339;
}
.break{
    -fx-background-color: #3F8ABF;
}
#pomodoro{
}